apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: my-llama-stack
spec:
  destination:
    name: in-cluster
    namespace: my-llama-stack
    server: https://kubernetes.default.svc
  source:
    path: deploy/helm-as-standalone_deployment
    repoURL: https://github.com/glroland/my-llama-stack.git
    targetRevision: HEAD
    helm:
      valueFiles:
        - values.yaml
  sources: []
  project: default

